@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  html {
    font-size: small;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* navbar */

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  list-style: none;
  gap: 0.3rem;
  padding: 1em;
}

/* logo */
#logo {
  margin: 2rem;
  object-fit: contain;
  width: 100px;
}

/* Basic CSS to ensure the image is displayed */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.image-container {
  padding-top: 140px;
  overflow: hidden;
  width: 65%;
  object-position: right;
}

#porsche {
  transform: scaleX(-1);
}

.text-container {
  width: 35%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.book-button {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.book-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

h1 {
  letter-spacing: -1px;
  font-size: 3rem;
  line-height: 3.6rem;
}

.footer-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 4rem 2rem;
  background-color: black;
  color: white;
}

.footer-social {
  width: 200px;
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer-social ul {
  display: flex;
  gap: 1rem;
}

.active {
  text-underline-offset: 0.4rem;
  text-decoration-line: underline;
  text-decoration-color: #d22;
  text-decoration-thickness: 0.2rem;
}

@media only screen and (max-width: 1024px) {
  .text-container {
    padding: 1rem;
    width: 80%;
    z-index: 0;
  }

  .container {
    flex-direction: column;
  }
  #porsche {
    z-index: 5;
    object-position: 0px -100px;
  }

  .image-container {
    padding-top: 1rem;
    overflow: hidden;
    width: 65%;
    object-fit: cover;
    align-self: flex-end;
  }
}

/* sidebar css */

.sidebar {
  font-size: medium;
  height: 100%;
  width: 250px;
  position: fixed;
  left: -250px;
  top: 0;
  background-color: #0d0d0d;
  transition: left 0.3s ease;
  padding: 15px;
  z-index: 10;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
  padding-right: 1rem;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.content {
  padding: 20px;
  margin-left: 15px;
}

.open-btn {
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: 728px) {
  .open-btn {
    display: none;
  }
}

@media (max-width: 728px) {
  nav ul {
    display: none;
  }
}
